@media (max-width: 1439px){
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px){
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            column-gap: 30px;
        }
        &__skills {
            column-gap:20px;
        }

    }
    .resume {
        &__wrapper{
            column-gap: 40px;
        }
    }
}

@media (max-width: 992px){
    .container {
        max-width: 720px;
    }
    .menu {
        &__block{
            padding-top: 100px;
        }
    }
    .about {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 30px;
            row-gap: 10px;
        }
        &__photo{
            img {
                border-radius:0 0 0 0;
            }
        }
        &__skills {
            column-gap:20px;
            row-gap: 5px;
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &__container {
                grid-template-columns: 40px auto;
            }
        }
    
    }
    .resume {
        padding: 60px;
        &__wrapper{
           grid-template-columns: auto;
        }
    }


}

@media (max-width: 768px){
    .container {
        max-width: 540px;
        padding: 0 15px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto /1fr;
        }
        &__photo {
            grid-row: unset;
            img {
                border-radius: 0 50% 0 50%;
                border: solid 1px #d3d3d36b;
            }
        }
        &__skills{
            grid-template-columns: auto;
        }
    }
    .resume {
        padding: 40px ;
        &__wrapper{
           padding: 40px 0 0 0;
        }
    }


}

@media (max-width: 576px){
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block{
            width: 250px;
            padding-left: 20px;
        }

    }
    .promo {
        background: url('../img/main_bf-fin.jpg') no-repeat 40%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper{
            grid-template: 300px auto auto/1fr;
        }
        &__descr {
            padding-top: 10px;
        }
        &__subtitle {
            font-size: 30px;

        }
        &__text{
            margin-top: 10px;
        }
        &__skills{
            row-gap: 15px;
            .title {
                line-height: 40px;
                font-size: 18px;
            }
            &__text{
                margin-top: 6px;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    .resume {
        .title_fz36 {
            font-size: 30px;
            line-height: 40px;
        }
        &__item-head {
            .title {
            font-size: 18px;
            }
        }
        &__item-location {
            font-size: 16px;
            text-decoration-line: underline;
        }
        &__item-body {
            font-size: 16px;
            line-height: 20px;
        }
    }



}
